# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

/target

db.sqlite3

# AI context
GEMINI.md

# Temporary and Output
tmp/
result
metadata.json
*.log

.env
